* {
  font-family: "Inter", sans-serif;
}
::selection {
  background: #24e321;
  color: #fff;
}
.login-page {
  width: 100%;
  position: relative;
  margin: 0;
  margin: auto;
}

.background {
  width: 45%;
  margin: 0;
  height: 100vh;
  z-index: 10;
  position: relative;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(https://firebasestorage.googleapis.com/v0/b/http-57421.appspot.com/o/photos%2Fpexels-matheus-bertelli-4558720.jpg?alt=media&token=0b27f11c-6840-4429-8a44-b505c954941c);
  background-position: center;
  background-size: cover;
}

.blur {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  z-index: 30;
  position: absolute;
}
.background img {
  width: 100%;
  height: 100%;
}
.logo {
  z-index: 99;
  /* position: absolute;
  top: 30%;
  left: 23%; */
}
/*LEFT SIDE STYLES END*/

/*RIGHT SIDE STYLES BEGIN*/
.login-dialog,
.signup-dialog {
  float: left;
  width: 50%;
  margin-left: 20px;
  /* padding: 50px; */
  /* padding: 50px; */
  /* position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 100%; */
}
.signup-dialog,
.login-dialog {
  height: 100%;
}
.login-container,
.signup-container {
  border-radius: 8px;
  padding: 50px;
  width: 70%;
  margin-top: 40px;
}
.login-container h3,
.signup-container h3 {
  display: inline;
  margin-right: 6px;
  font-size: 24px;
  margin-bottom: 0;
}
#green {
  font-family: "Borel", cursive;
  color: #24e321;
  font-size: 28px;
}
.login-title,
.signup-title {
  margin-bottom: 20px;
}
.login-title h3,
.signup-title h3 {
  height: max-content;
}
.signin-instead,
.login-instead {
  margin: 0;
  font-size: 12px;
  margin-bottom: 20px;
}
.signup-form,
.login-form l {
  width: 100%;
}
.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 4px;
  width: 100%;
  /* gap: 20px; */
}
.input input {
  border: none;
  border-bottom: 2px solid #24e321;
  padding: 8px;
  margin-bottom: 20px;
}
.invalid {
  font-size: 12px;
  color: #e34850;
}
.input input:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid #24e321;
}
.input-invalid,
.existing-user {
  background-image: url("https://icons8.com/icon/8122/error");
  border-bottom: 2px solid #e34850;
}
.input label {
  font-size: 12px;
  margin-bottom: 4px;
}
.password-input {
  margin-bottom: 24px;
}
.signup-form button,
.login-form button {
  padding: 10px 30px;
  border: none;
  font-weight: 600;
  background-color: #24e321;
  color: #fff;
  border-radius: 10px;
  border: 2px solid #24e321;
  margin-bottom: 12px;
}
.signup-form button:hover,
.login-form button:hover {
  background-color: #fff;
  color: #24e321;
  border: 2px solid #24e321;
  cursor: pointer;
}
.signin-instead span,
.login-instead span {
  color: #24e321;
  text-decoration: none;
  padding: 2px;
}
.signin-instead span:hover,
.login-instead span:hover {
  color: #fff;
  cursor: pointer;
  /* font-size: 14px; */
  background-color: #24e321;
}
.show-login,
.show-signup {
  transition: transform 0.75s 1s;
  animation: show 0.5s ease-out;
  /* transform: translateX(50%); */
}

@keyframes show {
  0% {
    /* max-height: 0%; */
    opacity: 0;
    transform: translateX(-70%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
    max-height: 100%;
  }
}
